@import (reference) "../smart-grid/smart-grid.less";
.reset();
body, html{
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}


header{
	position: relative;
	height: 100%;
	background-color: #131313;
	background-image: url(../img/wp2.jpg);
	background-size: cover;
	box-sizing: border-box;
}
section {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 15px 0;
	overflow: hidden;
}

/*------------------Header------------------------------*/

.bar_menu{
	position: fixed;
	display: inline-block;
	right: 40px;
	top: 40px;
	font-size: 1.8em;
	color: #F3F3F3;
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.5s, color 0.5s;
	z-index: 1000;
	.md-block({
		top:20px;
		right: 15px;
		font-size: 2em;
		});
	.xs-block({
		top:10px;
		right: 10px;
		});
	&:hover{
		opacity:1;
	}
}

#title_cv{
	position: absolute;
	max-width: 400px;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	word-wrap: break-word;
	color:#F3F3F3;
	font-family: Arial;
	text-shadow: -1px -1px 1px #000,
				  1px -1px 1px #000,
				 -1px  1px 1px #000,
				  1px  1px 1px #000;
		

	
	.xs-block({
		width: 90%;
		});

	&>h1{
		font-size: 150px;

		.md-block({
		font-size:100px;
		});

		.xs-block({
		font-size:75px;
		});
	}

}

#btn_cv{
	position: relative;
	width: 80%;
	margin: 40px auto;
	padding: 10px 20px;
	background-color: #F8FE63;
  	box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
  	color: #100F0F;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	cursor:pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}
#btn_cv:hover{
 	 transform: translateY(4px);
 	 box-shadow: 5px 5px 6px rgba(0, 0, 0, .5);
}
#btn_cv:active{
	 transform: translateY(2px);
 	 box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}
/*---------------------about me--------------------------*/

#about_me{
   background-color: #f7f7f1;
}

#about_h2{
	margin: 20px 0;
	font-family: sans-serif;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	line-height: 60px;
	&>div{
		display: inline-block;
	}

}

.abMe-main-content{
	display:flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

#ab_me_article{
	width: 50%;
	padding: 30px; 
	background-color: #592C2C;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	text-align:  right;
	color: #F8FF8F;
	font-size: 21px;
	letter-spacing: 1.5px;

	.md-block({
		width: 80%;
		margin-left:0px;
		padding: 15px;
		height: auto;
		text-align: center;
		box-sizing: border-box;
	});

	.xs-block({
		width: 100%;
		padding: 5px;
		font-size: 18px;
	});
}

#ab_me_advantages{
	width: 30%;
 	margin-left: 40px;
 	color: #333;
 	text-align: left;
	font-weight: 700;
	letter-spacing: 2px;

	.md-block({
		width: 80%;
		height: auto;
		margin: 20px 5px 0 5px;
	});

	.xs-block({
		width: 100%;
		box-sizing: border-box;
	});

	&>ul{
		margin-top: 20px;
		word-spacing: 10px;		
	}
	&>h3{
		font-size: 36px;
	}

}
.adv_li{
		margin-top: 10px;
		font-size: 24px;

		&>span{
			background-color: #88C588;
			height: inherit;
			line-height: 50px;
			padding: 10px 40px;
		}
	}

.adv_li:nth-child(even){

	text-align: right;
	
	&>span{
		background-color: #9BDEDA;
	}
}



/*----------------------------skills----------------------------*/


#my_skills{
	display: flex;
	flex-wrap: wrap;
	background-color: #F8FE63;
	justify-content: space-around;
	align-items: stretch;
	&>h2{
		flex-basis: 100%;
		margin:30px 0;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	}
}
.skill{
	display:flex;
	flex-basis: 45%;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #F5F3F3;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	font-size: 18px;
	color: #333;
	font-weight: 700;

	.md-block({
		flex-basis: 80%;
		});

	.xs-block({
		flex-basis: 98%;
		flex-direction: column;
		text-align: center;
		box-sizing: border-box;
		margin: 10px 0;
		});

	&>div{
		margin:5px;
	}

	& h3{
		font-size: 24px;
		line-height: 40px;
	}
}

.skill-img{
	width: 100px;
	flex-shrink:0;
	align-self: center;

	.xs-block({
		width: 80px;	
	});
}

/*----------------------------Footer-----------------------------------------*/

footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	background-color: #171717;
	font-size: 20px;
	color: #F3F3F3;

	&>p{
		margin-top: 10px;
		letter-spacing: 2px;
		text-decoration: overline;
	}

	&>p:nth-child(odd){
		text-transform: uppercase;
	}
}

/*----------------------------Main menu-----------------------------*/
#main-menu-container{
	position: fixed !important;
	top:0;
	right: 0;
	padding: 20px 0;
	height: 100%;
	width: 25%;
	background-color: rgba(23,23,23,.9);
	text-align: center;
	font-size: 24px;
	color: #F3F3F3;
	box-sizing: border-box;
	z-index: 100;
	
	.md-block({
		width: 40%;
		font-size: 21px;
	});
	.xs-block({
		width: 100%;
	});
}
.menu{
	margin-top: 80px;

	.md-block({
		margin-top: 40px;
	});
}

.menu-item{
	padding: 15px;
	cursor: pointer;
	background-color: rgba(23,23,23, 0);
	border-bottom: 2px solid #6C6C6C;

	&:last-child{
		border:0px;
	}
}
.menu-item:hover{
	background-color: rgba(100,100,100, 0.8);
}
.menu-item:active{
	background-color: rgba(100,100,100, 0.4);
}
/*--------------------------------CV block----------------------------------*/

#cv-container{
	height: 90%;
	width: 70%;
	
	.md-block({
		width: 90%;
	});

	.sm-block({
		width: 100%;
	});
}

iframe{
	display: block;
	width: 100%;
	height: 80%;
	box-sizing: border-box;
}

/*--------------------------------Contacts----------------------------------*/
#contact-inner-container{
	height: auto;
}

#my-contacts{
	width: 80%;
	margin: 0 auto;S
	color: #333;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;

	.md-block({
		width: 90%;
	});

	.xs-block({
		width: 96%;
		font-size: 20px;
	});

	&>h2{
		font-size: 42px;
		font-weight: 700;
		text-decoration: underline;

		.md-block({
			font-size: 36px;
		});
	}

	&>div{
		margin: 20px 0;
	}

	& p{
		display: inline-block;
		margin: 5px;
	}
}

/*-------------Многоразовые Классы------------------------------------------*/
.section-title{
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 5px;
	font-family: sans-serif;
	text-align: center;
	color: #333;
	line-height: 60px;
}
.modal-window{
	display:none;
	position: fixed;
	top:0;
	background-color: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 1000;
	overflow: auto;
}

.modal-inner-container{
	position:absolute;
	border-radius: 2px;
	width: 50%;
	height: 50%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: #F8F8F8;
	box-sizing: border-box;
	z-index: 2000;

	&::after{
		display: block;
		content: " ";
		height: 50px;
	}

	.md-block({
		width: 75%;
		height: 80%;
	});
	
	.xs-block({
		width: 100%;
	});
}

.close-container{
	position: relative;
	text-align: right;
	font-size: 20px;

	.md-block({
		font-size: 25px;
	});

	.xs-block({
		font-size: 30px;
	});
}
.close{
		margin:15px 20px;
		cursor:pointer;

		&:hover{
			transform: scale(1.5);
		}

		&:active{
			transform: scale(1.5);
		}
}
	
.d-show{
	display: block;
}

.d-hide{
	display: none;
}

.block-scroll{
	height: 100%;
	overflow: hidden;
}

.hidden{
	visibility: hidden;
}

.dubl_dash{
	letter-spacing: -1px;
}

.bar_black{
	color: #333;
}

.bar_white{
	color: #F3F3F3;
}
/*-----------------media height-----------------------------------------------*/

@media (max-height: 360px){

	#title_cv{
		margin-top: 10px;
		width: 90%;
		font-size: 20px;
		height: auto;
		&>h1{
			font-size: 70px;
		}
	}
	#btn_cv{
		margin-top:20px;
	}

	#main-menu-container{
		width: 100%;
	}
	.menu-item{
		padding: 10px;
		font-size: 18px;
	}
}